<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="leo_sim">

  <xacro:arg name="fixed" default="false"/>
  <xacro:arg name="robot_ns" default=""/>
  <xacro:arg name="mecanum_wheels" default="false"/>

  <!-- Calculate the link prefix based on robot_ns -->
  <xacro:property name="link_prefix" value=""/>
  <xacro:if value="${'$(arg robot_ns)' != '' and '$(arg robot_ns)' != '/'}">
    <xacro:property name="link_prefix" value="$(arg robot_ns)/"/>
  </xacro:if>


  <xacro:include filename="$(find leo_description)/urdf/macros.xacro"/>
  <xacro:include filename="$(find leo_description)/urdf/lidar.urdf.xacro"/>


  <xacro:leo_sim robot_ns="$(arg robot_ns)"
                 fixed="$(arg fixed)"
                 mecanum_wheels="$(arg mecanum_wheels)"/>

<!-- Attach the RPLidar to the robot -->
  <xacro:lidar_sensor prefix="${link_prefix}"
                      parent="base_link"
                      topic_name="${link_prefix}scan"/>

</robot>